<p>
  hotel 首页
</p>
<!-- <button mat-flat-button color="primary" (click)="detail()">点我去hotel详情页</button> -->
<!-- <button mat-flat-button color="primary" (click)="merchant()" style="margin-left: 10px;">点我去hotel 商家</button> -->

<div class="container">
  <mat-grid-list cols="5" gutterSize="12" rowHeight="372">
    <mat-grid-tile *ngFor="let item of goods">
      <mat-card>
        <img matCardImage [src]="item.img">
        <mat-card-content>
            {{item.title}}
            <!-- <mat-card-title>{{item.title}}</mat-card-title> -->
            <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
            <mat-form-field appearance="">
              <input matInput  placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-card-actions align="end">
              <button mat-button (click)="addToCart()" color="accent">加入购物车</button>
            </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
